<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Stéphane Muller" />
    <title>Fabtrack administration panel</title>

    <% include ../includes/pagehead.html %>
  </head>

  <body class="d-flex justify-content-center bg-body-tertiary py-4">
    <% include ../includes/light-dark.html %>

    <main class="w-50 mx-auto">
      <% include ../includes/header.html %>

      <h4 class="mb-4">
        <i class="fa-solid fa-ball-pile"></i>&nbsp;&nbsp;Manage Consumables
      </h4>

      <table class="mb-5 table">
        <thead>
          <tr>
            <th onclick="sortTable(0)" scope="col">#</th>
            <th onclick="sortTable(1)" scope="col">Consumable</th>
            <th onclick="sortTable(2)" scope="col">Cost</th>
            <th scole="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody id="table-content">
          <% consumables.forEach(function(consumable) { %>
          <tr>
            <td scope="row"><%= consumable.id %></td>
            <td><%= consumable.name %></td>
            <td><%= consumable.cost %> €</td>
            <td class="text-center">
              <a
                href="#"
                id="edit-<%= consumable.id %>"
                data-id="<%= consumable.id %>"
                data-name="<%= consumable.name %>"
                data-cost="<%= consumable.cost %>"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="admin/consumables/delete/<%= consumable.id %>"
                ><i class="fa-solid fa-trash-can"></i></a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <h5 class="mb-4">
        <i class="fa-solid fa-ball-pile"></i>&nbsp;&nbsp;Create New
        Consumable
      </h5>

      <form action="/admin/consumables/create" method="post">
        <div class="row">
          <input
            type="hidden"
            id="consumableid"
            name="consumableid"
            value=""
          />
          <div class="col-8">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Name"
                required
              />
              <label for="name">Name</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="cost"
                name="cost"
                placeholder="Cost"
                required
              />
              <label for="cost">Cost (€)</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              class="btn btn-primary w-100 mb-2 py-2"
              type="submit"
            >
              Create New Consumable
            </button>
          </div>
        </div>
      </form>

      <% include ../includes/footer.html %>

      <script>
        const elements = document.querySelectorAll('[id^="edit-"]');
        elements.forEach(function (element) {
          element.addEventListener("click", editItem);
        });

        function editItem() {
          event.preventDefault();

          document.querySelector("h5.mb-4").innerHTML =
            "<i class='fa-solid fa-flask-vial'></i>&nbsp;&nbsp;Update Consumable";
          document.querySelector("form").action = "/admin/consumables/update";
          document.getElementById("consumableid").value = this.dataset.id;
          document.getElementById("name").value = this.dataset.name;
          document.getElementById("cost").value = this.dataset.cost;
          document.querySelector("button.btn-primary").innerHTML =
            "Update Consumable";

          return false;
        }
      </script>
  </body>
</html>
