<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4"><i class="fa fa-users-gear"></i>&nbsp;&nbsp;Manage staff accounts</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" scope="col">#</th>
                        <th onclick="sortTable(1)" scope="col">Username</th>
                        <th onclick="sortTable(2)" scope="col">Email</th>
                        <th onclick="sortTable(3)" scope="col" class="text-center">Role</th>
                        <th scope="col" class="text-center">Enabled</th>
                        <th scope="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <% users.forEach(function(user) { %>
                    <tr>
                        <td scope="row"><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><a href="mailto:<%= user.mail %>"><%= user.mail %></a></td>
                        <td class="text-center">
                            <% if(user.role == "admin") {%>
                            <a href="admin/staff/demote/<%= user.id %>" title="admin"><i class="fa-solid fa-user-secret"></i></a> <%
                            } else { %>
                            <a href="admin/staff/promote/<%= user.id %>" title="user"><i class="fa-regular fa-user"></i></a> <% } %>
                        </td>
                        <td class="text-center">
                            <% if(user.approved) {%>
                            <a href="admin/staff/disable/<%= user.id %>" title="disable" style="color: #44aa44"
                                ><i class="fa-solid fa-user-check"></i
                            ></a>
                            <% } else { %>
                            <a href="admin/staff/enable/<%= user.id %>" title="enable" style="color: #aa4444"
                                ><i class="fa-solid fa-user-xmark"></i
                            ></a>
                            <% } %>
                        </td>
                        <td class="text-center">
                            <a href="admin/staff/edit/<%= user.id %>"><i class="fa-solid fa-user-pen"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="admin/staff/delete/<%= user.id %>"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </main>

        <% include ../includes/footer.html %>

    </body>
</html>
