<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4"><i class="fa-solid fa-buildings"></i>&nbsp;&nbsp;Manage workspaces</h4>

            <p><i>Hover over each workspace to read the location</i></p>

            <table class="mb-5 table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" scope="col">#</th>
                        <th onclick="sortTable(1)" scope="col">Workspace</th>
                        <th scole="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <% workspaces.forEach(function(workspace) { %>
                    <tr>
                        <td scope="row"><%= workspace.id %></td>
                        <td><span   data-bs-toggle="tooltip" data-bs-placement="right"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="<%= workspace.location %>"><%= workspace.name %></span></td>
                        <td class="text-center">
                            <a href="#" id="edit-<%= workspace.id %>"
                                        data-id="<%= workspace.id %>"
                                        data-name="<%= workspace.name %>"
                                        data-location="<%= workspace.location %>">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="admin/workspaces/delete/<%= workspace.id %>"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <h5 class="mb-4"><i class="fa-solid fa-building"></i>&nbsp;&nbsp;Create new workspace</h5>

            <form action="/admin/workspaces/create" method="post">
                <div class="row">
                    <input type='hidden' id="workspaceid" name='workspaceid' value='' />
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required />
                            <label for="name">Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="location" name="location" style="height: 100px"></textarea>
                            <label for="location">Location</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Create new workspace</button>
                    </div>
                </div>
            </form>
        </main>

        <script>
          const elements = document.querySelectorAll('[id^="edit-"]');
          elements.forEach(function(element){
            element.addEventListener("click", editItem);
          })

          function editItem() {
            event.preventDefault();

            document.querySelector("h5.mb-4").innerHTML = "<i class='fa-solid fa-building'></i>&nbsp;&nbsp;Update workspace";
            document.querySelector("form").action = "/admin/workspaces/update";
            document.getElementById("workspaceid").value = this.dataset.id;
            document.getElementById("name").value = this.dataset.name;
            document.querySelector("textarea").value = this.dataset.location;
            document.querySelector("button.btn-primary").innerHTML = "Update workspace";

            return false;
          }
        </script>

        <% include ../includes/footer.html %>
    </body>
</html>
