<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4"><i class="fa fa-users-gear"></i>&nbsp;&nbsp;Manage types of users (visitors)</h4>

            <table class="mb-5 table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" scope="col">#</th>
                        <th onclick="sortTable(1)" scope="col">Usertype</th>
                        <th scole="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <% usertypes.forEach(function(usertype) { %>
                    <tr>
                        <td scope="row"><%= usertype.id %></td>
                        <td><%= usertype.name %></td>
                        <td class="text-center">
                            <a href="#" id="edit-<%= usertype.id %>"
                                        data-id="<%= usertype.id %>"
                                        data-name="<%= usertype.name %>">
                                <i class="fa-solid fa-user-pen"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="admin/usertypes/delete/<%= usertype.id %>"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

            <h5 class="mb-4"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Create new usertype</h5>

            <form action="/admin/usertypes/create" method="post">
                <div class="row">
                    <input type='hidden' id="usertypeid" name='usertypeid' value='' />
                    <div class="col-md">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Type name" required />
                    </div>
                    <div class="col-md">
                        <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Create usertype</button>
                    </div>
                </div>
            </form>

            <% include ../includes/footer.html %>

        <script>
          const elements = document.querySelectorAll('[id^="edit-"]');
          elements.forEach(function(element){
            element.addEventListener("click", editItem);
          })

          function editItem() {
            event.preventDefault();

            document.querySelector("h5.mb-4").innerHTML = "<i class='fa fa-user-plus'></i>&nbsp;&nbsp;Update usertype";
            document.querySelector("form").action = "/admin/usertypes/update";
            document.getElementById("usertypeid").value = this.dataset.id;
            document.getElementById("name").value = this.dataset.name;
            document.querySelector("button.btn-primary").innerHTML = "Update usertype";

            return false;
          }
        </script>

    </body>
</html>
