<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Stéphane Muller" />
    <title>Fabtrack - History</title>

    <% include ../includes/pagehead.html %>
  </head>

  <body class="d-flex justify-content-center bg-body-tertiary py-4">
    <% include ../includes/light-dark.html %>

    <main class="w-50 mx-auto">
      <% include ../includes/header.html %>

      <h4 class="mb-4">
        <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;&nbsp;History
      </h4>

      <table class="mb-5 table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Arrival</th>
            <th scope="col">Departure</th>
            <th scope="col">User</th>
            <th scope="col">Workspace</th>
            <th scope="col">Comments</th>
            <th scole="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody id="table-content">
          <% for (const entry of history) { %>
          <% if (entry.workspaceId != selectedWorkspace.id) { continue; } %>
          <tr>
            <td scope="row"><%= entry.id %></td>
            <td><%= entry.arrival %></td>
            <td><%= entry.departure || '-' %></td>
            <td><a href="/users/edit/<%= entry.userId %>"><%= entry.user.name %> <%= entry.user.surname %></a></td>
            <td>
              <% if (entry.workspace) { %>
                <%= entry.workspace.name %>
              <% } else { %>
                -
              <% } %>
            </td>
            <td class="text-center">
                <% if ( entry.comments ) { %>
                    <span   data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="<%= entry.comments %>"><i class="fa-solid fa-comment-lines"></i></span>
                <% } else { %>
                <i class="fa-regular fa-comment" style="color: grey"></i>
                <% } %>
            </td>
            <td class="text-center">
              <a
                href="#"
                id="edit-<%= entry.id %>"
                data-id="<%= entry.id %>"
                // ... Add other data attributes for editing as needed
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="history/delete/<%= entry.id %>"
                ><i class="fa-solid fa-trash-can"></i></a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <% include ../includes/footer.html %>

      <script>
        // ... (Add JavaScript for edit functionality if needed, similar to previous examples)
      </script>
  </body>
</html>
