<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>
        <script src="javascripts/pagination.js"></script>
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <h4 class="mb-4">
                <i class="fa fa-user-pen"></i>&nbsp;&nbsp;Edit user profile <span class="fs-6 opacity-25">(account created on <%= user.accountCreationDate %>)</span>
            </h4>
            <form action="/users/update/<%= user.id %>" method="post">
                <div class="row">
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" required />
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="surname" name="surname" value="<%= user.surname %>" required />
                            <label for="surname">Surname</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="birthyear" name="birthyear" value="<%= user.birthYear %>" />
                            <label for="birthyear">Birth year</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="email" value="<%= user.mail %>" required /><%= user.email %>
                            <label for="email">Email address</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="usertype" name="usertype">
                                <% usertypes.forEach(function(usertype) { %>
                                <option value="<%= usertype.id %>" <% if (usertype.id == user.usertypeId) { %> selected <% } %>><%= usertype.name %></option>
                                <% }); %>
                            </select>
                            <label for="usertype">Type of user</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="comments" name="comments" style="height: 100px"><%= user.comment %></textarea>
                            <label for="comments">Comments</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Update user profile</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary w-100 mb-2 py-2" onclick="history.back();">Cancel</a>
                    </div>
                </div>
            </form>

            <hr class="mt-4 mb-4">

            <h4 class="mb-4">
                <i class="fa fa-user-ninja"></i>&nbsp;&nbsp;User stats
            </h4>

            <div class="row">
                <div class="col-3">
                    User balance:
                </div>
                <div class="col-9">
                    <%= user.balance %> €
                    <% if(role == "admin") { %>
                    &nbsp;&nbsp;>>&nbsp;&nbsp;
                    <a href="#" data-bs-toggle="modal" style="text-decoration: none;"
                                data-bs-target="#addMoney">
                        <span   data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Add money to user account"><i class="fa-solid fa-money-bill-wave" style="color: #009600"></i></span>
                    </a>

                    <!-- Modal to clear balance -->
                    <div class="modal fade" id="addMoney" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <form action="/history/credit" method="post">
                                <input type='hidden' id="userid" name='userid' value='<%= user.id %>' />
                                <div class="modal-header">
                                    <h5 class="modal-title"><i class="fa-solid fa-money-bill-wave"></i> Credit account</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>How much do you want to credit this user's account?</p>
                                    <div class="form-floating mb-3">
                                        <input type="number" name="money" class="form-control" id="money" />
                                        <label for="money">Credit</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add money</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Number of visits to the lab:
                </div>
                <div class="col-9">
                    <%- history.length %>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Number of projects:
                </div>
                <div class="col-9">
                    <%- userprojects.length %>
                </div>
            </div>

            <hr class="mt-4 mb-4">

            <div class="accordion mb-4" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <b><i class="fa fa-triangle-exclamation"></i>&nbsp;&nbsp;Warnings</b>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <% if (warnings.length > 0) { %>
                      <h5 class="mb-4"><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;Pending</h5>

                      <table class="mb-5 table">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Warning type</th>
                                  <th scope="col">Created</th>
                                  <th scope="col">Comments</th>
                                  <th scope="col" class="text-center">Resolve</th>
                              </tr>
                          </thead>
                          <tbody id="table-content">
                              <% warnings.forEach(function(warning) { %>
                              <tr>
                                  <td scope="row"><%= warning.id %></td>
                                  <td><%= warning.warningtype.name %></td>
                                  <td><%= warning.createdAt %></td>
                                  <td><%= warning.comments %></td>
                                  <td class="text-center">
                                      <a href="warning/deactivate/<%= warning.id %>"><i class="fa-solid fa-circle-xmark"></i></a>
                                  </td>
                              </tr>
                              <% }); %>
                          </tbody>
                      </table>
                      <% } %>

                      <h5 class="mt-4 mb-4">
                          <i class="fa fa-triangle-exclamation"></i>&nbsp;&nbsp;Add a warning
                      </h5>
                      <form action="/warning/create" method="post">
                          <div class="row">
                              <input type='hidden' id="userid" name='userid' value='<%= user.id %>' />
                              <div class="col-12">
                                  <div class="form-floating mb-3">
                                      <select class="form-select" id="warningtype" name="warningtype">
                                          <% warningtypes.forEach(function(warningtype) { %>
                                          <option value="<%= warningtype.id %>"><%= warningtype.name %></option>
                                          <% }); %>
                                      </select>
                                      <label for="warningtype">Type of warning</label>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <div class="form-floating mb-3">
                                      <textarea class="form-control" id="comments" name="comments" style="height: 100px"></textarea>
                                      <label for="comments">Comments</label>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Add a warning</button>
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b><i class="fa fa-clipboard-list"></i>&nbsp;&nbsp;History</b>
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table" id="historyTable">
                            <thead>
                                <tr>
                                    <th scope="col">Arrival</th>
                                    <th scope="col" class="text-center">Departure</th>
                                    <th scope="col" class="text-center">Workspace</th>
                                    <th scope="col" class="text-center">Project</th>
                                    <th scope="col" class="text-center">Comments</th>
                                </tr>
                            </thead>
                            <tbody id="table-content">
                                <% let tableData = [] %>
                                <% for (const entry of history) { %>
                                <% tableData.push( {
                                  col1: entry.arrival,
                                  col2: entry.departure,
                                  col3: entry.workspace?entry.workspace.name:"-",
                                  col4: '<a href="' + entry.project.url + '"><i class="fa-solid fa-book"></i></a>',
                                  col5: entry.comments?'<span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="' + entry.comments + '"><i class="fa-solid fa-comment-lines"></i></span>':'<i class="fa-regular fa-comment" style="color: grey"></i>',
                                }) %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <b><i class="fa fa-books"></i>&nbsp;&nbsp;Projects</b>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <% if (userprojects.length > 0) { %>

                          <table class="mb-5 table">
                              <thead>
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Project start</th>
                                      <th scope="col">Last activity</th>
                                      <th scope="col">Type</th>
                                      <th scope="col" class="text-center">Link</th>
                                      <th scope="col" class="text-center">State</th>
                                  </tr>
                              </thead>
                              <tbody id="table-content">
                                  <% userprojects.forEach(function(project) { %>
                                  <tr <% if (!project.active) { %>class="opacity-25"<% } %>>
                                      <td scope="row"><%= project.id %></td>
                                      <td><%= project.projectCreationDate %></td>
                                      <td>
                                          <%
                                          const lastEntry = history.find(entry => entry.userproject.projectId === project.id);
                                          %>
                                          <%= lastEntry.arrival %>
                                      </td>
                                      <td>
                                          <%
                                          const projectType = projecttypes.find(type => type.id === project.projecttypeId);
                                          const projectTypeName = projectType ? projectType.name : 'Unknown Project Type';
                                          %>
                                          <%= projectTypeName %>
                                      </td>
                                      <td scope="row" class="text-center">
                                          <a href="<%= project.url %>"><i class="fa-solid fa-book"></i></a>
                                      </td>
                                      <td scope="row" class="text-center">
                                          <% if (project.active) { %>
                                          <a href="history/project/archive/<%= project.id %>"><i class="fa-solid fa-hourglass-start"></i></a>
                                          <% } else { %>
                                          <a href="history/project/unarchive/<%= project.id %>"><i class="fa-solid fa-hourglass-end"></i></a>
                                          <% } %>
                                      </td>
                                  </tr>
                                  <% }); %>
                              </tbody>
                          </table>
                          <% } %>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <b><i class="fa fa-ball-pile"></i>&nbsp;&nbsp;Consumption</b>
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <b><i class="fa fa-circle-heart"></i>&nbsp;&nbsp;Interests</b>
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                </div>
            </div>

        <% include ../includes/footer.html %>
        <script>
          // Call the pagination function after the table is rendered
          addPagination('historyTable', <%- JSON.stringify(tableData) %>);
        </script>
    </body>
</html>
