<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Stéphane Muller" />
        <title>Fabtrack administration panel</title>

        <% include ../includes/pagehead.html %>

        <script src="javascripts/autocomplete.js"></script>
        <link rel="stylesheet" href="stylesheets/autocomplete.css" />
    </head>

    <body class="d-flex justify-content-center bg-body-tertiary py-4">
        <% include ../includes/light-dark.html %>

        <main class="w-50 mx-auto">
            <% include ../includes/header.html %>

            <!-- Registering form -->
            <div id="register">
                <h4 class="mb-4">
                    <a class="jsButton" onclick="showNew()"><i class="fa fa-toggle-on"></i></a>&nbsp;&nbsp;Register an existing user
                </h4>
                <form action="/history/create" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3 d-grid d-flex">
                                <input type='hidden' id="userid" name='userid' value='null' />
                                <input type="text" class="form-control input-group-icon" id="name" name="name" placeholder="Name" autocomplete="off" required />
                                <label for="name">Name</label>
                                <a id="urlprofile" href="">
                                    <span class="formbutton input-group-text"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-floating mb-3 d-grid d-flex">
                                <input type='hidden' id="projectid" name='projectid' value='null' />
                                <input type='hidden' id="userprojectid" name='userprojectid' value='null' />
                                <input type="text" class="form-control input-group-icon" id="documentation" name="documentation" autocomplete="off" placeholder="Documentation" required />
                                <label for="name">Link to project documentation</label>
                                <a id="urldocumentation" href="">
                                    <span class="formbutton input-group-text"><i class="fa-solid fa-book-circle-arrow-right fa-lg"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="projecttype" name="projecttype">
                                    <option selected></option>
                                    <% projecttypes.forEach(function(projecttype) { %>
                                    <option value="<%= projecttype.id %>"><%= projecttype.name %></option>
                                    <% }); %>
                                </select>
                                <label for="projecttype">Type of project</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="comments" name="comments" style="height: 100px"></textarea>
                                <label for="comments">Comments</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Save</button>
                        </div>
                    </div>
                </form>

                <!-- Lab activity table (only shown if people are actually in the lab) -->

                <% if( Object.entries(history).length ) { %>
                <div>
                    <hr class="mt-4 mb-4">

                    <h4 class="mt-4 mb-4">
                        <i class="fa fa-users"></i>&nbsp;&nbsp;<%- Object.entries(history).length %> people currently present in the lab
                    </h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th onclick="sortTable(1)" scope="col">Arrival</th>
                                <th onclick="sortTable(2)" scope="col">User</th>
                                <th scope="col" class="text-center">Warning</th>
                                <th scope="col" class="text-center">Activity</th>
                                <th scope="col" class="text-center">Exit</th>
                            </tr>
                        </thead>
                        <tbody id="table-content">
                            <% history.forEach(function(entry) { %>
                            <tr>
                                <td scope="row"><%= entry.arrival %></td>
                                <td><a href="/users/edit/<%= entry.userId %>"><%= entry.user.name %> <%= entry.user.surname %></a></td>
                                <td class="text-center">
                                    <% if (entry.warnings.length > 0) { %>
                                        <% entry.warnings.forEach(function(warning) { %>
                                        <span   data-bs-toggle="tooltip" data-bs-placement="right"
                                                    data-bs-custom-class="custom-tooltip"
                                                    data-bs-title="<%= warning.comments %>"><%- warning.warningtype.icon %></span>
                                        <% }); %>
                                    <% } else { %>
                                    <span   data-bs-toggle="tooltip" data-bs-placement="right"
                                                data-bs-custom-class="custom-tooltip"
                                                data-bs-title="All clear"><i class="fa-solid fa-circle-check" style="color: #44aa44"></i></span>
                                    <% } %>
                                </td>
                                <td class="text-center">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-square-plus"></i></a>
                                </td>
                                <td class="text-center">
                                    <a href="history/exit/<%= entry.id %>"><i class="fa-solid fa-person-running"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } %>

                <!-- Modal to add activities/machines/payment to a user history -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>

            <!-- New user creation form -->
            <div id="newuser">
                <h4 class="mb-4"><a class="jsButton" onclick="showRegister()"><i class="fa fa-toggle-off"></i></a>&nbsp;&nbsp;Create a new user</h4>
                <form action="/users/create" method="post">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newname" name="newname" placeholder="Name" required />
                                <label for="newname">Name</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newsurname" name="newsurname" placeholder="Surname" required />
                                <label for="newsurname">Surname</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="newbirthyear" name="newbirthyear" placeholder="Birthyear" />
                                <label for="newbirthyear">Birth year</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email" name="newemail" class="form-control" id="newemail" placeholder="Email" required />
                                <label for="newemail">Email address</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="newusertype" name="newusertype">
                                    <option selected></option>
                                    <% usertypes.forEach(function(usertype) { %>
                                    <option value="<%= usertype.id %>"><%= usertype.name %></option>
                                    <% }); %>
                                </select>
                                <label for="newusertype">Type of user</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="newcomments" name="newcomments" style="height: 100px"></textarea>
                                <label for="newcomments">Comments</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary w-100 mb-2 py-2" type="submit">Create user</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <script>
        // Switching between registering and user creation forms
        function showNew() {
          document.getElementById("newuser").style.display = "block";
          document.getElementById("register").style.display = "none";
        }

        function showRegister() {
          document.getElementById("newuser").style.display = "none";
          document.getElementById("register").style.display = "block";
      }

        // User search autocomplete
        // Creating an array with all the names and their corresponding user ids

        var nameInput = document.getElementById('name');
        var names = [ <% users.forEach(function(user) { %>
                      { fullname: '<%= user.name %> <%= user.surname %>', id: '<%= user.id %>', projects: '<%- JSON.stringify(user.projects) %>' },
                    <% }); %> ];
        var allowedChars = new RegExp(/^[a-zA-Z\s]+$/)

        autocomplete({
            input: nameInput,
            minLength: 1,
            emptyMsg: 'No names found',
            fetch: function (text, callback) {
                            text = text.toLowerCase().trim();
                            callback(names.filter(function (candidate) { return candidate.fullname.toLowerCase().indexOf(text) !== -1; }));
                        },
            render: function (item, value) {
                            var itemElement = document.createElement("div");
                            if (allowedChars.test(value)) {
                                var regex = new RegExp(value, 'gi');
                                itemElement.innerHTML = item.fullname.replace(regex, function (match) { return `<strong>${match}</strong>`; });
                            } else {
                                itemElement.textContent = item.fullname;
                            }
                            return itemElement;
                        },
            onSelect: function(item) {
                // When clicking, entering or tabbing on the selected name
                // set the value of the field and the user index field
                // as well as set the link to edit the user profile

                nameInput.value = item.fullname;
                document.getElementById('userid').value = item.id;
                document.getElementById('urlprofile').href = "/users/edit/" + item.id;
                console.log(item.projects);
            }
        });

        // Documentation search autcomplete

        var docInput = document.getElementById('documentation');
        var projects = [ <% projects.forEach(function(project) { %>
                      { id: '<%= project.id %>', url: '<%= project.url %>', type: '<%= project.projecttypeId %>' },
                    <% }); %> ];
        var userprojects = [ <% userprojects.forEach(function(userproject) { %>
                      { id: '<%= userproject.id %>', userid: '<%= userproject.userId %>', projectid: '<%= userproject.projectId %>' },
                    <% }); %> ];

        new autocomplete({
            input: docInput,
            showOnFocus: true,
            emptyMsg: 'No documentation found, type new URL to create project',
            fetch: function (text, callback) {
                            text = text.toLowerCase().trim();
                            callback(projects.filter(function (candidate) { return candidate.url.toLowerCase().indexOf(text) !== -1; }));
                        },
            render: function (item, value) {
                            var itemElement = document.createElement("div");
                            if (allowedChars.test(value)) {
                                var regex = new RegExp(value, 'gi');
                                itemElement.innerHTML = item.url.replace(regex, function (match) { return `<strong>${match}</strong>`; });
                            } else {
                                itemElement.textContent = item.url;
                            }
                            return itemElement;
                        },
            onSelect: function(item) {
                // When clicking, entering or tabbing on the selected documentation
                // set the value of the field and the documentation index field
                // as well as set the link to documentation and the project type
                // and finally, also set the userproject combination

                docInput.value = item.url;
                document.getElementById('projectid').value = item.id;
                document.getElementById('urldocumentation').href = item.url;
                document.getElementById('projecttype').selectedIndex = item.type;

                const foundElem = userprojects.find(elem => elem.userid === document.getElementById('userid').value && elem.projectid === item.id);
                document.getElementById('userprojectid').value = foundElem ? foundElem.id : "null";
            }
        });
        </script>

        <% include ../includes/footer.html %>
    </body>
</html>
